#buttonL {
                border: #f5f5f5 8px solid;
                border-left: #cecece 8px solid;
                border-bottom: #cecece 8px solid;
                display: block;
                width: 400px;
                margin: 0.0em;
                padding: 12px;
                background: #e0e0e0;
                font-size: 36px;
                text-align: center; 
                color : black;
                text-decoration: none;
}
#button {
                border: #f5f5f5 8px solid;
                border-left: #cecece 8px solid;
                border-bottom: #cecece 8px solid;
                display: block;
                width: 176px;
                margin: 0.0em;
                padding: 12px;
                background: #e0e0e0;
                font-size: 36px;
                text-align: center; 
                color : black;
                text-decoration: none;
}
#mention {
                display: inline;
                background: #ffffff;
                font-size: 12px;
                font-style: italic;
}

#temperature {
           font-size:1000%;
           background: #2b76dc;
        }
#onglets
{
   font: bold 11px Batang, arial, serif;
   list-style-type: none;
   padding-bottom : 24px ;
   border-bottom : 1px solid #9EA0A1 ;
   margin-left : 0;
}

#onglets li
{
   float: left;
   background-color: #F4F9FD ;
   height : 21px ;
   margin : 2px 2px 0 2px !important;
   margin : 1px 2px 0 2px;
   border : 1px solid #9EA0A1;
}

#onglets li.active
{
   border-bottom: 1px solid #fff;
   background-color: #fff;
}

#onglets a
{
   display: block ;
   color: #666;
   text-decoration: none;
   padding: 4px;
}

#onglets a:hover
{
   background: #fff;
}

#choix
{
   font: bold 11px Batang, arial, serif;
   list-style-type: none;
   padding-top : 0px ;
   margin-top : 0px ;
   border-top : 1px solid #9EA0A1 ;
   margin-left : 0;
}

#choix li
{
   float: left;
   background-color: #F4F9FD ;
   height : 21px ;
   margin : 0px 2px 2px 2px !important;
   margin : 0px 2px 1px 2px;
   border : 1px solid #9EA0A1;
}

#choix li.active
{
   border-top : 1px solid #fff;
   background-color: #fff;
}

#choix a
{
   display: block ;
   color: #666;
   text-decoration: none;
   padding: 4px;
}

#choix a:hover
{
   background: #fff;
}

